@use '../../styles/variables' as *;

.layout {
  display: flex;
  min-height: 100vh;

  &__main {
    flex: 1;
    margin-right: $sidebar-width;
    padding: $spacing-lg;
    background-color: $color-bg;
  }
}
